<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- jquery -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <!-- bootstrap -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- jquery-validator -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-validate/1.19.3/localization/messages_zh.min.js"></script>
    <!-- layer -->
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/layer.js"></script>
    <!-- md5.js -->
    <script src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.19.0/js/md5.js"></script>
    <!-- common.js -->
    <script th:src="@{/js/common.js}" type="text/javascript"></script>
    <style>
        #background {
            background: url("img/background.jpg");
            background-size: cover;
            opacity: 0.8;
        }

        canvas {
            position: absolute;
            z-index: -1;
        }

        #loginForm {
            background: white;
            width: 30%;
            padding: 20px;
            margin: auto;
            border-radius: 15px;
        }

        .col-md-5 {
            width: 100%;
        }

        .row .col-md-5 {
            margin-top: 5px;
        }

        #password-error, #mobile-error {
            color: red;
            font-size: 5px;
        }
    </style>
</head>
<body>
<div id="background">
    <canvas id="canvas"></canvas>
    <div style="padding-top: 100px;margin: 0 auto">
        <form id="loginForm" method="post" name="loginForm">

            <h2 style="text-align:center; margin-bottom: 20px">用户登录</h2>

            <div class="form-group">
                <div class="row">
                    <label class="form-label col-md-4">请输入账号</label>
                    <div class="col-md-5">
                        <input class="form-control" id="username" maxlength="10" minlength="0" name="username"
                               placeholder="账号"
                               required="true" type="text"/>
                    </div>
                    <!--                <div class="col-md-1">-->
                    <!--                </div>-->
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="form-label col-md-4">请输入密码</label>
                    <div class="col-md-5">
                        <input autoComplete=“true” class="form-control" id="password" maxlength="16" minlength="0"
                               name="password" placeholder="密码" required="true" type="password"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <button class="btn btn-primary btn-block" onclick="login()" type="submit">登录</button>
                </div>
                <div class="col-md-5">
                    <button class="btn btn-primary btn-block" onclick="reset()" type="reset">重置</button>
                </div>

            </div>
        </form>
    </div>
</div>
</body>
<script>
    function login() {
        $("#loginForm").validate({
            submitHandler: function (form) {
                doLogin();
            }
        });
    }

    function doLogin() {
        g_showLoading();

        var inputPass = $("#password").val();
        var password = md5(inputPass);

        var userLoginReq = {
            "username": $('#username').val(),
            "password": password
        }

        $.ajax({
            url: "/user/login",
            type: "POST",
            headers: {'Content-Type': 'application/json'},
            dataType: 'json',
            data: JSON.stringify(userLoginReq),
            success: function (resp) {
                if (resp.code === 200) {
                    layer.msg("登录成功");
                    window.location.href = "/home";
                } else {
                    layer.msg(resp.msg);
                }
            }
        });
    }

    // 设置div背景的宽高
    background = document.getElementById("background")
    background.style.width = innerWidth + 'px'
    background.style.height = innerHeight + 'px'

    // 获取canvas对象
    var canvas = document.getElementById("canvas")
    // 获取画笔
    var ctx = canvas.getContext("2d")

    // 设置canvas宽高
    canvas.height = innerHeight
    canvas.width = innerWidth

    // 定义一个粒子数组
    var particlesArray = []
    // 定义页面内粒子的数量
    var count = parseInt(canvas.width / 80 * canvas.height / 80)


    // 定义粒子类
    class Particle {
        constructor(x, y) {
            this.x = x
            this.y = y
            // x，y轴的移动速度  -0.5 -- 0.5
            this.directionX = Math.random() - 0.5
            this.directionY = Math.random() - 0.5
        }

        // 更新点的坐标
        update() {
            this.x += this.directionX
            this.y += this.directionY
        }

        // 绘制粒子
        draw() {
            ctx.beginPath()
            ctx.arc(this.x, this.y, 2, 0, Math.PI * 2)
            ctx.closePath()
            ctx.fillStyle = "white"
            ctx.fill()
        }
    }

    // 创建粒子
    function createParticle() {
        // 生成一个点的随机坐标
        var x = Math.random() * innerWidth
        var y = Math.random() * innerHeight

        particlesArray.push(new Particle(x, y))
    }

    // 处理粒子
    // 先更新坐标，再绘制出来
    function handleParticle() {
        for (var i = 0; i < particlesArray.length; i++) {
            var particle = particlesArray[i]
            particle.update()
            particle.draw()
            // 超出范围就将这个粒子删除
            if (particle.x < 0 || particle.x > canvas.width || particle.y < 0 || particle.y > canvas.height) {
                particlesArray.splice(i, 1)
            }

            // 绘制两个点之间的连线
            for (var j = i + 1; j < particlesArray.length; j++) {
                dx = particlesArray[j].x - particlesArray[i].x
                dy = particlesArray[j].y - particlesArray[i].y
                dist = Math.sqrt(Math.pow(dx, 2) + Math.pow(dy, 2))
                if (dist < 100) {
                    ctx.beginPath()
                    ctx.strokeStyle = "rgba(255, 255, 255, " + (1 - dist / 100)
                    ctx.moveTo(particlesArray[i].x, particlesArray[i].y)
                    ctx.lineTo(particlesArray[j].x, particlesArray[j].y)
                    ctx.closePath()
                    ctx.lineWidth = 1
                    ctx.stroke()
                }
            }
        }
    }

    function draw() {
        // 首先清空画布
        ctx.clearRect(0, 0, canvas.width, canvas.height)
        // 如果粒子数量小于规定数量，就生成新的粒子
        if (particlesArray.length < count) {
            createParticle()
        }

        // 处理粒子
        handleParticle()
    }

    // 设置定时器
    setInterval(draw, 10)

</script>

</html>